<div class="ui items">
  <% clientList.forEach(function(client){ %>
  <div class="item listItems">
    <div class="content">
      <div class="header"><%= client.Name %></div>
      <div class="meta">
        <span class="price"><%= client.Company %></span><br />
        <span class="stay"><%= client.Email %></span><br />
        <span class="stay"><%= client.Phone %></span><br />
        <span class="stay"><%= client.Balance %></span><br />
        <span class="stay"><%= client.Address %></span><br />
      </div>
      <div class="description">
        <p><%= client.Balance %></p>
      </div>
    </div>
  </div>
  <% }) %>
</div>
